{{ block "master" . }}
<!doctype html>
<html lang="en">
  <head>
    <title>{{.Title}}</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" href="/img/favicon.ico" />
    <link href="https://css.gg/css" rel="stylesheet" />
    <link href="css/style.css" rel="stylesheet" />
    <script
      src="https://unpkg.com/htmx.org@1.9.6"
      integrity="sha384-FhXw7b6AlE/jyjlZH5iHa/tTe9EpJ1Y55RjcgPbjeWMskSxZt1v9qkxLJWNJaGni"
      crossorigin="anonymous"
    ></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/multi-swap.js"></script>
    <script src="https://unpkg.com/htmx.org/dist/ext/response-target.js"></script>
  </head>
  <body class="bg-slate-900 text-white">
    Admin
    <main id="app">{{ template "content" . }}</main>
  </body>
</html>
{{ end }}
