<form
  hx-post="/login"
  hx-swap="afterbegin"
  hx-trigger="submit"
  class="flex flex-col py-8 items-centr gap-y-8"
>
  <h3 class="text-center font-bold text-2xl">Login</h3>
  <label
    class="flex flex-col items-start justify-between w-full relative focus-within:text-pink-500"
  >
    <span class="transition ease-in duration-250 transition-colors"
      >Username</span
    >
    <i
      class="gg-user absolute bottom-[15px] ease-in duration-250 transition-colors"
    ></i>
    <input
      type="text"
      name="name"
      class="border-b-[1px] py-3 border-gray-600 outline-none w-full pl-8 bg-transparent !text-white focus:border-pink-500 transition ease-in duration-250 transition-[border-color]"
      autocomplete="off"
    />
  </label>

  <label
    class="flex flex-col items-start justify-between w-full relative focus-within:text-pink-500"
  >
    <span class="transition ease-in duration-250 transition-colors"
      >Password</span
    >
    <i
      class="gg-lock absolute bottom-[25px] ease-in duration-250 transition-colors !mt-0"
    ></i>
    <input
      type="password"
      name="password"
      class="border-b-[1px] py-3 border-gray-600 outline-none w-full pl-8 bg-transparent !text-white focus:border-pink-500 transition ease-in duration-250 transition-[border-color]"
    />
  </label>
  <input
    type="submit"
    value="Submit"
    class="rounded-3xl bg-gradient-to-r from-indigo-500 via-purple-500 to-pink-500 py-4 mt-4 cursor-pointer outline-none"
  />
  <button
    hx-swap="innerHTML"
    hx-target="#user-info"
    hx-get="/register"
    class="cursor-pointer"
  >
    Register
  </button>
</form>
